qq邮箱发送邮件失败

错误提示：

```
smtplib.SMTPDataError: (550, b'The "From" header is missing or invalid. Please follow RFC5322, RFC2047, RFC822 standard protocol. https://service.mail.qq.com/detail/124/995.')
    raise SMTPDataError(code, resp)
  File "/usr/local/lib/python3.11/smtplib.py", line 908, in sendmail
    smtp.sendmail(from_addr=username, to_addrs=to_addrs, msg=message.as_string())
  File "/app/app/plugins/mergemessagenotify/channel/custom/email.py", line 212, in send_message
Traceback (most recent call last):
```

我升级了1.9版本，并且重启了mp，还是出现了这个问题，我是mpv2

> 我升级了1.9版本，并且重启了mp，还是出现了这个问题，我是mpv2
> 
> ```
> Traceback (most recent call last):
> 
>   File "/app/app/plugins/mergemessagenotify/channel/custom/email.py", line 221, in send_message
> 
>     smtp.sendmail(from_addr=username, to_addrs=to_addrs, msg=message.as_string())
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 908, in sendmail
> 
>     raise SMTPDataError(code, resp)
> 
> smtplib.SMTPDataError: (550, b'The "From" header is missing or invalid. Please follow RFC5322, RFC2047, RFC822 standard protocol. https://service.mail.qq.com/detail/124/995.')
> ```

fixed with v1.10

> 大佬，还是有问题，现在出现了下面这个错误。。。 下面是MP的版本信息： 软件版本 v2.2.8-1
> 
> 前端版本 v2.2.8-1
> 
> ```
> ERROR:   email.py - 发送消息失败: channel = 邮件, type = None
> 
> Traceback (most recent call last):
> 
>   File "/app/app/plugins/mergemessagenotify/channel/custom/email.py", line 212, in send_message
> 
>     smtp = smtplib.SMTP_SSL(host=smtp_host, port=smtp_port, timeout=60)
> 
>            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 1050, in __init__
> 
>     SMTP.__init__(self, host, port, local_hostname, timeout,
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 255, in __init__
> 
>     (code, msg) = self.connect(host, port)
> 
>                   ^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 341, in connect
> 
>     self.sock = self._get_socket(host, port, self.timeout)
> 
>                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 1057, in _get_socket
> 
>     new_socket = self.context.wrap_socket(new_socket,
> 
>                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/ssl.py", line 517, in wrap_socket
> 
>     return self.sslsocket_class._create(
> 
>            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/ssl.py", line 1075, in _create
> 
>     self.do_handshake()
> 
>   File "/usr/local/lib/python3.11/ssl.py", line 1346, in do_handshake
> 
>     self._sslobj.do_handshake()
> 
> ssl.SSLError: [SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1002)
> 
> ERROR:   custom - 测试一次消息发送异常 - 邮件: cannot access local variable 'smtp' where it is not associated with a value
> 
> Traceback (most recent call last):
> 
>   File "/app/app/plugins/mergemessagenotify/channel/custom/__init__.py", line 66, in __test_once
> 
>     self.send_message(title="测试消息", text="这是一条测试消息，您收到此消息表示您的渠道配置无误。")
> 
>   File "/app/app/plugins/mergemessagenotify/channel/custom/email.py", line 221, in send_message
> 
>     if smtp:
> 
>        ^^^^
> 
> UnboundLocalError: cannot access local variable 'smtp' where it is not associated with a value
> ```

你用的是什么邮件服务器哦，我测试就没有问题

> 大佬，还是有问题，现在出现了下面这个错误。。。 下面是MP的版本信息： 软件版本 v2.2.8-1
> 
> 前端版本 v2.2.8-1
> 
> ```
> ERROR:   email.py - 发送消息失败: channel = 邮件, type = None
> 
> Traceback (most recent call last):
> 
>   File "/app/app/plugins/mergemessagenotify/channel/custom/email.py", line 212, in send_message
> 
>     smtp = smtplib.SMTP_SSL(host=smtp_host, port=smtp_port, timeout=60)
> 
>            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 1050, in __init__
> 
>     SMTP.__init__(self, host, port, local_hostname, timeout,
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 255, in __init__
> 
>     (code, msg) = self.connect(host, port)
> 
>                   ^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 341, in connect
> 
>     self.sock = self._get_socket(host, port, self.timeout)
> 
>                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/smtplib.py", line 1057, in _get_socket
> 
>     new_socket = self.context.wrap_socket(new_socket,
> 
>                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/ssl.py", line 517, in wrap_socket
> 
>     return self.sslsocket_class._create(
> 
>            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
> 
>   File "/usr/local/lib/python3.11/ssl.py", line 1075, in _create
> 
>     self.do_handshake()
> 
>   File "/usr/local/lib/python3.11/ssl.py", line 1346, in do_handshake
> 
>     self._sslobj.do_handshake()
> 
> ssl.SSLError: [SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1002)
> 
> ERROR:   custom - 测试一次消息发送异常 - 邮件: cannot access local variable 'smtp' where it is not associated with a value
> 
> Traceback (most recent call last):
> 
>   File "/app/app/plugins/mergemessagenotify/channel/custom/__init__.py", line 66, in __test_once
> 
>     self.send_message(title="测试消息", text="这是一条测试消息，您收到此消息表示您的渠道配置无误。")
> 
>   File "/app/app/plugins/mergemessagenotify/channel/custom/email.py", line 221, in send_message
> 
>     if smtp:
> 
>        ^^^^
> 
> UnboundLocalError: cannot access local variable 'smtp' where it is not associated with a value
> ```

更新v1.11并配置端口对应的加密类型

大佬牛逼，可以收到了